#container {
    display: flex;
    flex-flow: row wrap;
}

.gridBox {
    height: 42px;
    flex: 1 0 calc(6.2% - 2px);
    border: 1px solid black;
}

.gridBox:hover {
    background-color: black;
}